:root{
    /* Primary */
    --Dark_cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

/* General
********************************************/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--Cream);
}

h1{
    color: var(--Very_dark_blue);
}

p{
    font-size: 14px;
    font-weight: 500;
    color:hsl(228, 12%, 48%);
    margin: 20px 0;
}

a{
    text-decoration: none;
}

/* Main
********************************************/
main{
    justify-content: center;
    position: relative;
}

main > div{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 43%;
    border-radius: 60px;
    justify-content: center;
    top: 50%;
    right: 50%;
    margin-top: 10%;
    margin-right: -20%;
}

main .col_1{
    width: 50%;
    background-image: url(../images/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

main .col_2{
    width: 50%;
    padding: 30px;
    background-color: var(--White);
    border-radius: 0 10px 10px 0;
}

main p:nth-child(1){
    text-transform: uppercase;
    margin: 0 0 20px;
}

main .col_2 h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 35px;
}

main .col_2 .price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

main .col_2 .price h1{
    color: var(--Dark_cyan);
}

main .col_2 .price p{
    margin: 0;
    text-decoration: line-through;
}

main .col_2 .cart{
    background-color: var(--Dark_cyan);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 6px;
    width: 100%;
    padding: 12px;
}

main .col_2 .cart p{
    color: var(--White);
    margin: 0;
}

/* Active states */
main .col_2 .cart:hover{
    background-color: hsl(158, 39%, 14%);
    cursor: pointer;
}

main .col_2 .cart:focus{
    outline: 2px solid var(--Dark_cyan);
}

@media screen and (max-width: 800px) {
    /* Main
    ********************************************/
    main{
        margin: 20px;
    }
    main > div{
        flex-direction: column;
        position: absolute;
        width: 100%;
        border-radius: 60px;
        justify-content: center;
        top: 0;
        left: 0;
        margin-top: 0;
        margin-left: 0;
    }

    main .col_1{
        width: 100%;
        height: 50vh;
        background-image: url(../images/image-product-mobile.jpg);
        border-radius: 10px 10px  0 0;
    }

    main .col_2{
        width: 100%;
        border-radius: 0 0 10px 10px;
    }

    main .col_2 .price{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        margin: 20px 0;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: relative; 
        bottom: 10px;
        width: 100%;
        margin: 50px 0 0;
        justify-content: center;
    }
}